<h1>Pages#home</h1>

<%= link_to "Create new report", new_report_path, class: "btn btn-primary" %>
<%= link_to "Create new author", new_author_path, class: "btn btn-primary" %>
<%= link_to "Assign author to report", new_report_author_path, class: "btn btn-primary" %>
<%= link_to "List all reports", reports_path, class: "btn btn-primary" %>
<%# link_to "Create new evaluation", new_report_evaluation_path, class: "btn btn-primary" %>