<h1>All Reports</h1>

<% @reports.each do |report| %>
	<%= report.original_title %> <%= link_to "add new evaluation", new_report_evaluation_path(report), class: "btn btn-primary" %>
	<%= link_to "List all evaluations", report_evaluations_path(report), class: "btn btn-primary" %>
<% end %>