<h1>All Reports</h1>

<% @reports.each_with_index do |report, index| %>
	<div class="m-2">
		<%= index + 1 %> - <%= report.original_title %> <%= link_to "add new evaluation", new_report_evaluation_path(report), class: "btn btn-primary" %>
		<%= link_to "List all evaluations", report_evaluations_path(report), class: "btn btn-primary" %>
	</div>
<% end %>
